# Python
__pycache__/
*.py[cod]
venv/
.venv/

# React / Node
node_modules/
build/
dist/

# Docker & DB
.env
pgdata/
*.log

# OS
.DS_Store
Thumbs.db
# Certificados SSL (nunca subir al repo)
nginx/certs/*.pem
nginx/certs/*.crt
nginx/certs/*.key
Obras Vivas*.xlsx
*.docx
venv/
__pycache__/
